# ----------------------
# Python
# ----------------------
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------
# Testing
# ----------------------
.pytest_cache/

# ----------------------
# IDE / Editor
# ----------------------
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# ----------------------
# OS-specific
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Logs
# ----------------------
*.log
